<div>
	<h1>Temperature Conversion</h1>
	<p>
	  <label>Celsius</label>
	  <input id="inputCelsius" type="text" placeholder="Celsius"
	  oninput="temperatureConverter(this.value)"
	  onchange="temperatureConverter(this.value)">
	</p>
<p>Farenheit: <span id="outputFarenheit"></span></p>
</div>
<div>
	<p>
	  <label>Fahrenheit</label>
	  <input id="inputFahrenheit" type="text" placeholder="Fahrenheit"
	  oninput="temperatureConverter1(this.value)"
	  onchange="temperatureConverter1(this.value)">
	</p>
	<p>Celsius: <span id="outputCelsius"></span></p>
</div>
